@import "tailwindcss";

@theme {
  --color-primary: #2e5eaa;
  --color-secondary: #d8ddef;
  --color-terciary: #916953;
  --color-accent: #3b1c32;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
